<body>
    <div class="container">
      <h1>{{ 'privacyPolicy.title' | translate }}</h1>
      <p>{{ 'privacyPolicy.intro' | translate }}</p>
  
      <h2>{{ 'privacyPolicy.ownerTitle' | translate }}</h2>
  
      <h3>{{ 'privacyPolicy.dataTypesTitle' | translate }}</h3>
      <p>{{ 'privacyPolicy.dataTypesDescription' | translate }}</p>
      <p>{{ 'privacyPolicy.dataTypesDetail' | translate }}</p>
      <p>{{ 'privacyPolicy.responsibility' | translate }}</p>
  
      <h3>{{ 'privacyPolicy.processingModeTitle' | translate }}</h3>
  
      <h4>{{ 'privacyPolicy.methodsTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.methodsDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.placeTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.placeDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.retentionTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.retentionDescription' | translate }}</p>
  
      <h3>{{ 'privacyPolicy.cookiePolicyTitle' | translate }}</h3>
      <p>{{ 'privacyPolicy.cookiePolicyDescription' | translate }}</p>
  
      <h2>{{ 'privacyPolicy.furtherInfoTitle' | translate }}</h2>
  
      <h3>{{ 'privacyPolicy.legalBasisTitle' | translate }}</h3>
      <p>{{ 'privacyPolicy.legalBasisIntro' | translate }}</p>
      <ul>
        <li>{{ 'privacyPolicy.legalBasisConsent' | translate }}</li>
        <li>{{ 'privacyPolicy.legalBasisAgreement' | translate }}</li>
        <li>{{ 'privacyPolicy.legalBasisCompliance' | translate }}</li>
        <li>{{ 'privacyPolicy.legalBasisPublicInterest' | translate }}</li>
        <li>{{ 'privacyPolicy.legalBasisLegitimateInterests' | translate }}</li>
      </ul>
      <p>{{ 'privacyPolicy.legalBasisClarification' | translate }}</p>
  
      <h3>{{ 'privacyPolicy.retentionTimeTitle' | translate }}</h3>
      <p>{{ 'privacyPolicy.retentionTimeIntro' | translate }}</p>
      <ul>
        <li>{{ 'privacyPolicy.retentionTimeContract' | translate }}</li>
        <li>{{ 'privacyPolicy.retentionTimeLegitimateInterests' | translate }}</li>
      </ul>
      <p>{{ 'privacyPolicy.retentionTimeConsent' | translate }}</p>
      <p>{{ 'privacyPolicy.retentionTimeExpiry' | translate }}</p>
  
      <h2>{{ 'privacyPolicy.rightsTitle' | translate }}</h2>
      <p>{{ 'privacyPolicy.rightsIntro' | translate }}</p>
      <ul>
        <li>{{ 'privacyPolicy.rightsWithdrawConsent' | translate }}</li>
        <li>{{ 'privacyPolicy.rightsObjectProcessing' | translate }}</li>
        <li>{{ 'privacyPolicy.rightsAccessData' | translate }}</li>
        <li>{{ 'privacyPolicy.rightsVerifyRectify' | translate }}</li>
        <li>{{ 'privacyPolicy.rightsRestrictProcessing' | translate }}</li>
        <li>{{ 'privacyPolicy.rightsDeleteData' | translate }}</li>
        <li>{{ 'privacyPolicy.rightsReceiveData' | translate }}</li>
        <li>{{ 'privacyPolicy.rightsLodgeComplaint' | translate }}</li>
      </ul>
      <p>{{ 'privacyPolicy.rightsDetails' | translate }}</p>
  
      <h3>{{ 'privacyPolicy.objectionDetailsTitle' | translate }}</h3>
      <p>{{ 'privacyPolicy.objectionDetailsDescription' | translate }}</p>
  
      <h3>{{ 'privacyPolicy.exerciseRightsTitle' | translate }}</h3>
      <p>{{ 'privacyPolicy.exerciseRightsDescription' | translate }}</p>
  
      <h3>{{ 'privacyPolicy.additionalInfoTitle' | translate }}</h3>
  
      <h4>{{ 'privacyPolicy.legalActionTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.legalActionDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.additionalUserInfoTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.additionalUserInfoDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.systemLogsTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.systemLogsDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.infoNotContainedTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.infoNotContainedDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.policyChangesTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.policyChangesDescription' | translate }}</p>
  
      <h3>{{ 'privacyPolicy.definitionsTitle' | translate }}</h3>
  
      <h4>{{ 'privacyPolicy.personalDataTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.personalDataDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.usageDataTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.usageDataDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.userTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.userDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.dataSubjectTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.dataSubjectDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.dataProcessorTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.dataProcessorDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.dataControllerTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.dataControllerDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.applicationTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.applicationDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.serviceTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.serviceDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.euTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.euDescription' | translate }}</p>
  
      <h4>{{ 'privacyPolicy.legalInfoTitle' | translate }}</h4>
      <p>{{ 'privacyPolicy.legalInfoDescription' | translate }}</p>
    </div>
  </body>
  